body {
  background-color: rgba(245, 245, 245, 245);
}

// .yolo {
//   margin-top: 80px;
//   margin-left: 10px;
//   position: absolute;
// }
.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.input {
  display: inline-flex;
}
