.card {
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  // background-image: url("https://picsum.photos/200/300/?random");
  position: relative;
}

// .card {
//   height: 175px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   background-position: center;
//   background-image: url("https://picsum.photos/400/400/?random");
//   color: white;
//   position: relative;
//   border-radius: 10px;
// }

.card:hover {
  opacity: 0.7;
}
