// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   justify-content: center;
//   display: flex;
//   height: 350px;
//   align-items: center;
// }

.card {
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-image: url("https://picsum.photos/200/300/?random");
  position: relative;
}

// .card {
//   height: 175px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   background-position: center;
//   background-image: url("https://picsum.photos/400/400/?random");
//   color: white;
//   position: relative;
//   border-radius: 10px;
// }

.card:hover {
  opacity: 0.7;
}

body {
  background-color: rgba(245, 245, 245, 245);
}

// .yolo {
//   margin-top: 80px;
//   margin-left: 10px;
//   position: absolute;
// }

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-show {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}


// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: black;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   opacity: 1;
// }
.footer .fa-heart {
  color: #D23333;
}
